<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<style>
  /* Add CSS styles for the social icons */
  .social-icons {
    display: flex;
    margin-left: 700px;
    margin-top : 10px;
  }

  .social-icons a {
    margin-right: 30px; /* Adjust the value to control the gap between icons */
  }
</style>
</div>
<div class="footer-padding"></div>
<div class="footer">
  <div class="social-icons">
    <!-- Replace the "#" with the URLs of your social media profiles -->
    <a href="https://www.instagram.com/saurabh_maurya10/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="https://www.linkedin.com/in/saurabh-maurya-176155229/" target="_blank"><i class="fab fa-linkedin-in fa-2x"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
  </div>
</div>
</div>
</body>
</html>
