<%- include('partials/header'); -%>

<h1>Contact page</h1>
<h4><%= contact %></h4>

<!-- Social Media Links with Icons -->

<h1>Feedback and Suggestions</h1>
<p>Your feedback is essential to us. If you have any suggestions, ideas, or topics you'd like us to cover, please don't hesitate to share them. We value your input and use it to continually improve our content and services.</p>

<h1>Media and Press Inquiries</h1>
<p>For media and press inquiries, interviews, or media partnership opportunities, please contact <a href="mailto:saurabhmaurya0025@gmail.com">saurabhmaurya0025@gmail.com</a>. We'll respond promptly to discuss how we can collaborate.</p>

<h1>Advertising and Sponsorship</h1>
<p>If you're interested in advertising on our blog or exploring sponsorship opportunities, please reach out to <a href="mailto:saurabhmaurya0025@gmail.com">saurabhmaurya0025@gmail.com</a>. We'll be glad to provide you with more information and discuss how we can work together.</p>

<%- include('partials/footer') -%>
